<div id="container">
    <div id="formcontainer">
      <img class="img-logo" src="assets/images/Myntra_logo.png">
      <p id="text">FORGOT PASSWORD</p>
      <form>
        <div class="row">
          <div class="col-md-1 col-2">
            <i class="fa fa-user"></i>
          </div>
          <div class="col-md-11 col-10">
            <input id="email" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email" />
          </div>
        </div>
        <button id="genrate" type="submit" (click)="genratePassword()">Send Reset Mail</button>
      </form>
      <div  routerLink="/" id="login">Login</div>
      <div  routerLink="/sign-up" id="signup">Create Admin Account</div>
    </div>
  </div>
