.img-logo{
    width: 150px;
    vertical-align: middle;
    border-style: none;
    margin-left: 25%;
    margin-bottom: 40px;
}
#container {
    background-image: url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: auto;
}
#formcontainer {
    width: 450px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    // background: #d35400;
    background: -moz-linear-gradient(top,  #791afb, #e62222);
    background: -o-linear-gradient(top,  #791afb, #e62222);
    background: -webkit-linear-gradient(top,  #791afb, #e62222);
    // background: linear-gradient(top, #fbc01a, #e67e22);
    box-shadow: 0 0 20px black;
    position: relative;
    top: 50px;
    // left: 35%;
    margin: auto;
}

#text {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    position: relative;
    color: white;
}

#email,
#password {
    width: 100%;
    height: 1px;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    border: none;
    border-bottom: solid 2px #ebaaaa;
    background: transparent;
}
#email::placeholder,
#password::placeholder {
    color: white;
}

#email:focus,
#password:focus {
    box-shadow: 0 0 10px #ebaaaa;
    outline: 0;
}

#login {
    color: snow;
    font-family: Lato-Light;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-size: 20px !important;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    cursor: pointer;
}

#genrate {
    width: 50%;
    margin-left: 25%;
    height: 40px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto Slab", serif;
    border-radius: 5px;
    border: none;
    background-color: snow;
    color: black;
    transition: all 0.4s;
}

#genrate:hover {
    background: -webkit-linear-gradient(bottom, #6f1afb, #e67e22);
    color: white;
}

#signup {
    color: snow;
    font-family: Lato-Light;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-size: 20px !important;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    cursor: pointer;
}
.error-text{
    position: relative;
    top: -26px;
    left: 56px;
}
.fa{
    font-size: 20px;
    top: 12px;
    position: relative;
    color: white;
}
input:-internal-autofill-selected {
    background-color: none !important;
}

@media only screen and (max-width: 600px) {
    #container,#formcontainer {
        width: 100vw !important;
        top: 0px;
        position: relative;
        height: 100vh !important;
        overflow-y: auto;
    }
    .img-logo{
        margin-left: calc(50vw - 132px);
    }
    #genrate {
        width: 100%;
        margin-left: 0%;
    }
  }

// @media only screen and (max-width:830px) {
//     #formcontainer {
//         position: relative;
//         left: 20%
//     }
// }

// @media only screen and (max-width:620px) {
//     #formcontainer {
//         position: relative;
//         left: 10%
//     }
// }

// @media only screen and (max-width:530px) {
//     #formcontainer {
//         position: relative;
//         left: 4%
//     }
// }
