<div id="container">
    <div id="formcontainer">
      <img class="img-logo" src="assets/images/Myntra_logo.png">
      <p id="text">FORGOT PASSWORD</p>
      <form [formGroup]="loginForm" (submit)="genratePassword()">
        <div class="row">
          <div class="col-1">
            <i class="fa fa-user"></i>
          </div>
          <div class="col-11">
            <input id="email" type="email" type="tel" formControlName="email" [ngClass]="{'invalid': submitted && loginForm.email.errors}" placeholder="Email" />
            <div *ngIf="false && submitted && loginForm.email.errors" class="error-text">
                <small *ngIf="loginForm.email.errors.required">Email</small>
            </div>
          </div>
        </div>
        <button id="genrate" type="submit">Send Reset Mail</button>
      </form>
      <div  routerLink="/" id="login">Login</div>
      <div  routerLink="/sign-up" id="signup">Create Admin Account</div>
    </div>
  </div>
  