<div id="container">
  <div id="formcontainer">
    <img class="img-logo" src="assets/images/Myntra_logo.png" />
    <p id="text">REGISTER</p>
    <form>
      <div class="row">
        <div class="col-md-6 col-sm-12 row">
          <div class="col-2">
            <i class="fa fa-user-circle-o"></i>
          </div>
          <div class="col-10">
            <input
            class="input-fields"
              id="name"
              type="text"
              [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
              [ngClass]="{ invalid: submitted && invalid.name }"
              placeholder="Full Name"
            />
            <div
              *ngIf="submitted && invalid.name"
              class="error-text"
            >
              <small *ngIf="invalid.name">Full Name is required.</small>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 row">
          <div class="col-2">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="col-10">
            <input
            class="input-fields"
              id="email"
              type="email"
              [(ngModel)]="user.emailAddress" [ngModelOptions]="{standalone: true}"
              [ngClass]="{ invalid: submitted && (invalid.email || invalid.emailEmpty) }"
              placeholder="Email"
            />
            <div
              *ngIf="submitted && (invalid.email || invalid.emailEmpty)"
              class="error-text"
            >
              <small *ngIf="invalid.emailEmpty">Email is required</small>
              <small *ngIf="!invalid.emailEmpty && invalid.email">Email in invalid</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fa fa-lock"></i>
        </div>
        <div class="col-md-11 col-10">
          <input
          class="input-fields"
            id="password"
            type="password"
            placeholder="Password"
            [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"
            [ngClass]="{ invalid: submitted && invalid.password }"
          />
          <div
            *ngIf="submitted && invalid.password"
            class="error-text"
          >
            <small *ngIf="invalid.password"
              >Password is required</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 row">
          <div class="col-2">
            <i class="fa fa-id-card-o"></i>
          </div>
          <div class="col-10">
            <input
            class="input-fields"
              id="employeeId"
              type="number"
              [(ngModel)]="user.employeeID" [ngModelOptions]="{standalone: true}"
              placeholder="Employee ID"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-12 row">
          <div class="col-2">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="col-10">
            <input
            class="input-fields"
              id="phone"
              type="number"
              [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}"
              placeholder="Phone Number"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fa fa-building"></i>
        </div>
        <div class="col-md-11 col-10">
          <input
          class="input-fields"
            id="location"
            type="location"
            placeholder="Location"
            [(ngModel)]="user.location" [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>
      <button id="register" type="submit" (click)="signUp()">Register</button>
    </form>
    <!-- <div  routerLink="/forgot-password" id="signup">Forgot Password ?</div> -->
    <div routerLink="/" id="login">Login</div>
  </div>
</div>
