<log4net>
    <!--<appender name="console" type="log4net.Appender.ConsoleAppender">
        <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
        </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>-->
  <appender name="RollingFileError" type="log4net.Appender.RollingFileAppender">
    <threshold value="ERROR"/>
    <file value="Logs/error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="2" />
    <datePattern value="yyyy-MM-dd.lo\g" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="UTC: %utcdate - Date:%date- %logger.%method [%line] %level::%message%newline Exception::%exception%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="ERROR"/>
    </filter>
  </appender>
  <appender name="RollingFileInfo" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO"/>
    <file value="Logs/info.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="2" />
    <datePattern value="yyyy-MM-dd.lo\g" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="UTC: %utcdate - Date:%date- %logger.%method [%line] %level::%message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="INFO"/>
    </filter>
  </appender>
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="ColoredConsoleAppender" />-->
    <appender-ref ref="RollingFileError" />
    <appender-ref ref="RollingFileInfo" />
  </root>
</log4net>